body {
    background-image: url('h/background.jpg');
    font-family: 'Open Sans', sans-serif;
    margin:0;
}
.inner {
	width: 1000px;
	margin: 0 auto;
}

/* menu */

nav {
	background: #333;
	width: 100%;
	height: 55px;
	margin-top: 0px;
	position: relative; /* optional */
}

nav ul {
	display: blcok;
	list-style: none;
	position:absolute;
}

nav ul li{
	padding-bottom:10px;
	float:left;
}

nav ul li a{
	background-color:black;
	padding:15px;
	color:white;
	text-decoration:none;
	border-radius: 5px 10px 0px 0px;
	border:1px solid black;
	transition: 0.45s ease-out;

}

#david{
	float:right;
	color:white;
	margin: 10px 5px 0px 0px;
	transition: 0.45s ease-out;
}
/* end of menu */


/* hover */
nav ul li a:hover{
	border: 1px solid #A7C6FF;
	background: #333;
	color: #A7C6FF;
}

#david:hover{
	color:#A7C6FF;
}

img:hover {
	opacity: 1.0;
}

.hov:hover {
    border: 2px solid white;
}

.section:hover {
    background: rgba(0, 0, 0, 0.2);
}

/* opacity */
.lb-image {
    opacity: 1.0;
}

img {
    opacity: 0.5;
	/* transition: 0.45s ease-out; /* maznotiq */
}
.no-opacity{
	opacity: 1.0
}


/* about section */

/* podravnqvane */
.podr {
    margin: 20px;
    float: left;
}

.clear {
    clear: both;
}

.section {
    height: 284px;
    width: 100%;
	background: rgba(255, 255, 255, 0.2);
	transition: 0.4s ease-out;
	border: 2px solid #C5C4C4;
	margin-bottom: 10px;
}


/* table */
table {
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
	padding: 5px;
}

/*responsive*/
@media screen and (max-width: 500px) {
	nav {
		height: 150px;
	}
	
	
}
		
@media screen and (max-width: 1000px) {		
	.inner {
		width:auto;
		}
	}
