body {
    background-image: url('h/background.jpg');
    font-family: 'Open Sans', sans-serif;
    margin: 0px auto;
    width: 87%;
}

.top-bar{
	border:1px solid black;
	background:#333;
}

ul.menu{
	padding:0px;

}

ul.menu li{
	display:inline;
}

ul.menu li a{
	background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

nav ul li:nth-child(4) h2{
	float: right;
	margin:0px 10px;
}

#david {
    color: black;
    text-align: center;

}

h2 {
    color: white;

}

a:link {
    color: #333333;
    font-size: 17px;
    text-decoration: none;
}

a:visited {
    color: #333333;
}

a:hover {
    color: black;
}

.lb-image {
    opacity: 1.0;
}
img {
    opacity: 0.7;
}

img:hover {
    opacity: 1.0;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1 px solid black;
    padding: 5px;
}

#n520 {
    color: red;
}

.podr {
	
    margin: 20px;
    float: left;

}

.clear {
    clear: both;
}

.font {

}

.border{
	border:1px solid black;
	}

.kvd{
	height:280px;
	width:100%;
}

.hov:hover{
	border:1px solid #494b4c;
	}
			
		
			
