body {
    background-image: url('h/background.jpg');
    font-family: 'Open Sans', sans-serif;
    margin: 0px auto;
    width: 87%;
}

#david {
    color: black;
    text-align: center;

}

h2 {
    color: black;

}

a:link {
    color: #333333;
    font-size: 17px;
    text-decoration: none;
}

a:visited {
    color: #333333;
}

a:hover {
    color: black;
}

img {
    opacity: 0.7;
}

img:hover {
    opacity: 1.0;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1 px solid black;
}

#n520 {
    color: red;
}

.podr {
    color: black;
    margin: 20px;
    float: left;

}

.clear {
    clear: both;
}

.font {

}
			
		
			
